<component name="libraryTable">
  <library name="springfox-swagger-ui-2.7.0">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/libs/springfox-swagger-ui-2.7.0.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
    <jarDirectory url="jar://$PROJECT_DIR$/libs/springfox-swagger-ui-2.7.0.jar!/" recursive="false" />
  </library>
</component>